<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>API EndPoints for <% appName %></title>
</head>
<body>
   <h1>API EndPoints for <%= appName %></h1>
   <h3>This is the Root (API routes are as follows) </h3>
   <ul>
      <% endPoints.forEach((ep)=>{ %>
         <li>
            <a href=<%- `${host}:${port}${ep[0]}` %>>
               <%- `Route: ${ep[1]}` %>
            </a>
         </li>
      <% }); %>
   </ul>
   <br />
   <pre>
      <h3>STANDARD RESPONSE FORMAT : </h3>
   {
      "info": {
         "result":true,                         // or false -- for error condition
         "message":"All users list.",           // will contain any error info
         "records":9                            // not for /:id responses
      },
      "tuples": [                               // if any tuples returned
         {"field":"data","field2":"data2"},
         {"field":"data","field2":"data2"}
      ]
   }

</pre>
</body>
</html>